GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
BHIMARATHA_SHEET_ID=
SHASHTIPOORTHI_SHEET_ID=
GOOGLE_SHEETS_RANGE=Form Responses 1!A:AZ
MANGALYA_DONORS_SHEET_ID=
MANGALYA_DONORS_RANGE='Donors 2026'!A:H
VITE_DEVELOPER_MODE=false
